<% layout('layouts/boilerplate') %>
<div class="container">
    <div>
        <p>Welcome to <strong>URL-Shortener Service</strong>, your go-to destination for simplifying and managing your links. Our platform is designed to make sharing and tracking links easier, allowing you to streamline your online presence and enhance your user experience.</p>
        <p>At <strong>URL-Shortener Service</strong>, we understand the importance of concise and shareable links in today's fast-paced digital landscape. Whether you're a marketer, a content creator, or an everyday internet user, our URL shortening service empowers you to create compact, memorable, and engaging links that stand out.</p>
    </div>
    <hr>
    <div>
        <h3>Our Mission</h3>
        <p>Our mission is to provide you with a user-friendly and reliable URL shortening service that not only shortens your URLs but also adds value to your online interactions. We strive to make link management effortless, helping you gain insights into link performance and engagement through our comprehensive analytics.</p>
    </div>
    <hr>
    <div>
        <h3>Why Choose URL-Shortener Service?</h3>
        <ul>
            <li>
                <p><b>Simplicity: </b>Our platform offers a straightforward and intuitive interface, making it easy for anyone to create shortened links with just a few clicks.</p>
            </li>
            <li>
                <p><b>Customization: </b>Tailor your short links to match your brand or message. With customizable slugs, you can ensure that your links are not only concise but also reflective of your content.</p>
            </li>
            <li>
                <p><b>Analytics: </b>Gain valuable insights into how your links are being clicked and shared. Our analytics tools provide you with the data you need to optimize your online strategies.</p>
            </li>
            <li>
                <p><b>Reliability: </b>Rest assured that your shortened links will always lead to the intended destination. Our service ensures that your audience reaches the right content every time.</p>
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <h3>Get Started Today</h3>
        <p>Whether you're looking to share resources on social media, track the success of your marketing campaigns, or simply simplify long and complex URLs, [Your URL Shortener Name] is here to support you. Join our community of users who are enjoying the benefits of smarter links.</p>
    </div>
    <hr>
    <div>
        <p>Thank you for choosing <strong>URL-Shortener Service</strong>. We're excited to be part of your journey in making your online interactions more efficient and effective.</p>
    </div>
</div>